@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  background-color: hsla(260, 2%, 37%, 0.9);
}

#title {
  text-align: center;
  color: rgb(236, 66, 24);
  font-size: 4em;
  font-weight: 700;
  margin: 16px;
}

#description {
  text-align: center;
  font-size: 2em;
  color: white;
  margin-top: 16px;
  margin-bottom: 30px;
}

hr {
  border: 3px solid rgb(236, 66, 24);
}

#survey-form {
  max-width: 80%;
  margin: 30px auto;
  color: white;
  display: grid;
  grid-template-areas:
    "data preferences"
    "comment preferences"
    "button button";
}

#survey-form p {
  margin: 0px;
}

#data,
#preferences,
#comment {
  margin: 20px;
}

#data {
  grid-area: data;
}

#preferences {
  grid-area: preferences;
}

#comment {
  grid-area: comment;
}

#car-type,
fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
textarea {
  margin-left: 0;
}

#button {
  grid-area: button;
  justify-self: center;
}

#transmission {
  margin-top: 16px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  height: 20px;
  font-family: inherit;
}

#dropdown {
  width: 100%;
  font-family: inherit;
}

textarea {
  width: 100%;
  height: 100px;
  font-family: inherit;
}

#submit {
  width: 200px;
  height: 50px;
  background-color: rgb(236, 66, 24);
  border-radius: 16px;
  outline: none;
  font-size: 1.5em;
  margin-top: 30px;
  font-family: inherit;
}

@media screen and (max-width: 736px) {
  #survey-form {
    grid-template-areas:
    "data"
    "preferences"
    "comment"
    "button";
  }
}
